<section id="awards">
    <div class="container">
        <h3 class="text-center">Awards</h3>
        <div class="row justify-content-center">
            {{ $indexMenu := .Site.Params.awards.index }}
            {{ range $index, $element := .Site.Params.awards.item }}
            <div>
                <div class="row row align-items-center justify-content-center m-1">
                    {{ if $indexMenu }}
                    <div class="col-md-1 text-center me-2 d-none d-md-block">
                        <div>
                            <span class="index shadow-lg">
                                {{ add $index 1 }}
                            </span>
                        </div>
                    </div>
                    {{ end }}

                    <div>
                        <div class="education-content">
                            {{ .content | markdownify}}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
